
  * {
    
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
  
  }
html{
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
  .container{
    display: grid;
    grid-template-columns: 1fr, 1fr;
   width: 30rem;
    margin: 10px auto; 
    border: 1px solid black; 
    padding: 10px; 
    background-color:rgb(95, 65, 65);
    border-radius:20px;
    box-shadow: -3px 5px 8px 0px rgba(0,0,0,0.5);
    grid-template-columns: repeat(auto-fit, minmax(5em, 2fr));
  }
  .lk{
    display: inline;
  }
 
 hr{
  border-radius: 4px;
  box-shadow: -3px 5px 8px 0px rgba(0,0,0,0.5);
  width: 36%; 
  
}
.main-name-list{
  width: 30rem;
  margin: 10px auto; 
  padding: 10px; 
}

.mainlistclasses{
  
  
  width: 30rem;
  margin: 10px auto; 
  padding: 10px; 

}



  .fot {
    
      padding: 30px;
      width: 30em; 
      margin: 20px auto; 
      background-color:rgb(95, 65, 65);
    border: 1px solid black; 
    border-radius:23px;
    box-shadow: -3px 5px 8px 0px rgba(0,0,0,0.5);
    
    
  }