
body {
    grid-template-columns: auto 90% auto;
}
 main {
    display: grid;
    gap: 1.6rem;
    grid-template-areas:
      "hero  hero  hero  hero"
      "news  news  news  news"
      "spot  spot  spot  spot"
      "join  join  join  join"
      "event event event weather";
  }

  .hero {
    grid-area: hero;
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
  }

  .news-release {
    grid-area: news;
  }

  .spotlights {
    grid-area: spot;
    display: flex;
    gap: 1.6rem;
  }

  .join {
    display: block;
    grid-area: join;
  }
}
